<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<meta charset="UTF-8">

	<title>Cadastro de Usuários</title>

</head>

<body>
	<h1>Detalhes</h1>
	<h3><a href="/cargos" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Lista de Cargos</a></h3>
	
	<div th:each="cargo : ${cargo}" class="container">
	
		<div class="row">
		
			<p>Cargo: <span th:text="${cargo.nome}"></span></p>
			<p>Cidade: <span th:text="${cargo.cidade}"></span></p>
		
		</div>
		
		<th:block th:include="mensagemValidacao"></th:block>
		
		<form method="post" th:object="${usuario}">
		
			Nome Completo: <input type="text" value="" name="nomeUsuario">
			CPF: <input type="text" value="" name="cpf" placeholder="xxx.xxx.xxx-xx">
			Data de Nascimento: <input type="date" value="" name="dataNascimento">
			Sexo: 
			<p>
		      <label>
		        <input class="with-gap" name="sexo" type="radio" value="M" />
		        <span>M</span>
		      </label>
		    </p>
		    <p>
		      <label>
		        <input class="with-gap" name="sexo" type="radio" value="F" />
		        <span>F</span>
		      </label>
		    </p>
		    Informe a data de cadastro: <input type="date" value="" name="dataCadastro">
			
			<button type="submit" class="waves-effect waves-light btn">Cadastrar</button>
			
		</form>
	</div>
	<h4>Lista de Funcionários</h4>
	<div class="container" th:each="usuario : ${usuarios}">
		<div class="row">
			<div class="input-field col s2">
				<p><span th:text="${usuario.nomeUsuario}"></span></p>
			</div>
			<div class="input-field col s2">
				<p><span th:text="${usuario.cpf}"></span></p>
			</div>
			<div class="input-field col s2">
				<p><span th:text="${usuario.dataNascimento}"></span></p>
			</div>
			<div class="input-field col s2">
				<p><span th:text="${usuario.sexo}"></span></p>
			</div>
			<div class="input-field col s2">
				<p><span th:text="${usuario.dataCadastro}"></span></p>
			</div>
			
		</div>
	</div>

	<!--JavaScript-->
    <script type="text/javascript" src="materializa/js/materialize.min.js"></script>
</body>

</html>